/*
    DEMO STYLE
*/

@import "Poppins.css";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #EEF3F0; /*#DAA963;*/
    color: #47748B; /*#4E6981*/
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.toggle-buttons {
    border-color: #47748B;
    background: #EEF3F0; /*EBE3BF  DABC92 DAA963*/
    color: #47748B; /*92A7AF*/
}

    .toggle-buttons:hover {
        border-color: #EEF3F0;
        background: #47748B;
        color: #EEF3F0;
    }

.modal-content {
    background: #EEF3F0;
    color: #47748B;
}

.separator {
    display: block;
    overflow: hidden;
    text-align: center;
}

    .separator:before, .separator:after {
        content: "";
        display: inline-block;
        vertical-align: middle;
        position: relative;
        width: 50%;
        border-top-style: solid;
        border-top-width: 1px;
    }

    .separator:before {
        right: 0.5em;
        margin-left: -50%;
    }

    .separator:after {
        left: 0.5em;
        margin-right: -50%;
    }

    .separator img {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
    }

.social-btn .btn {
    display: flex;
    justify-content: space-between;
    text-align: center;
    vertical-align: middle;
}

.facebook {
    border-color: #233459;
    background: #3C5A99;
    color: #EEF3F0;
}

    .facebook:hover {
        background: #324B7F;
        color: #FAFAFA;
    }

.twitter {
    border-color: #007EAD;
    background: #00ACED;
    color: #EEF3F0;
}

    .twitter:hover {
        background: #0099D3;
        color: #FAFAFA;
    }

.google {
    border-color: #B13128;
    background: #F14336;
    color: #EEF3F0;
}

    .google:hover {
        background: #D73C30;
        color: #FAFAFA;
    }


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 65px; /* It was 0*/
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #EEF3F0;
    color: #47748B;
    transition: all 0.3s;
}

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #e6ece7;
    }

    #sidebar ul.components {
        padding: 20px 0;
        border-bottom: 1px solid #47748b;
    }

    #sidebar ul p {
        color: #47748B;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }

        #sidebar ul li a:hover {
            color: #EEF3F0;
            background: #47748B;
        }

    #sidebar ul li.active > a,
    a[aria-expanded="true"] {
        color: #EEF3F0;
        background: #47748B;
    }

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #e6ece7;
}

a.download {
    background: #47748B;
    color: #EEF3F0;
}

a.article,
a.article:hover {
    background: #e6ece7 !important;
    color: #47748B !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 65px; /* It was 0*/
    right: 0;
}

    #content.active {
        width: 100%;
    }

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #content {
        width: 100%;
    }

        #content.active {
            width: calc(100% - 250px);
        }

    #sidebarCollapse span {
        display: none;
    }
}

@media (max-width: 300px) {
    #ds {
        display: none;
    }
}
